*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-template{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}
.product{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10%;
    margin-top: 5%;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}

.image-product img{
    max-width: 250px;
    border-radius: 10px;
}
.image-product-galery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.image-product-galery img{
    max-width: 80px;
    border-radius: 10px;
}
.lightBox_container{
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 30;
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}
.light-box img{
    width: 30vw;
}
.light-box:target{
    display: flex;
}
.close{
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.close:hover{
    color: #FCDE03;
}
.close:target{
    transform: scale(0);
}

.next{
    display: block;
    font-size: 25px;
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
}
.product-description{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    position: relative;
}
.product-description h2{
    font-size: 18px;
    color: #FCDE03;
    margin: 0;
}
.product-description h1{
    width: 80%;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
}
.product-description p{
    width: 50%;
    font-size: 15px;
    color: rgb(102, 102, 102);
}
.product-description > label{
    font-size: 18px;
    font-weight: 300;
    color: #7D7D7D;

}
.product-description > select{
    position: relative;
    background-color: #FDFBFB;
    border: 1px solid #FCDE03;
    border-radius: 5px;
    color: #7D7D7D;
    text-transform: capitalize;
}
.product-description > select > option{
    text-transform: capitalize;
}
.price{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.price p{
    font-size: 35px;
    color: #000;
    font-weight: 700;
}

.add-cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quantity h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #000;
}
.quantity-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #FCDE03;
    font-size: 35px;
    font-weight: 700;
    cursor:pointer;
}
.desactivate:disabled{
    color: #e40101;
    cursor: none;
}
.add-cart-btn{
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #FCDE03;
    padding: 2% 10%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
}

.add-cart-btn:hover{
    transform: translateY(-5px);
}

@media (max-width: 769px){
    .container-template{
    margin-top: 15%;
    }
    .product{
    flex-direction: column;
    }
    .product-description{
    align-items: center;   
    }
    .product-description h1{
        text-align: center;
        align-self: center;
    }
    .product-description p{
        width: 80%;
        text-align: center;
    }
    .product-description > label{
        align-self: flex-start;
        padding-left: 10%;
    }
    .product-description > select{
        align-self: flex-start;
        left: 10%;
        width: 80%;
    }
    .add-cart{
        justify-content: center;
    }
    .light-box{
        z-index: 50;
    }
    .close{
        z-index: 50;
    }
    .light-box img{
        width: 80vw;
        z-index: 100;
    }

}

