* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;

}
.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 5;
}
.logo__container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__container > h1{
    font-weight: 900;
    font-size: 30px;
    position: relative;
    bottom: 8%;
}
.logo__container > h1 > span{
    color: #FFDE59;
}

nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    padding: 4%;
}

nav > ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

nav > ul > li{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    --underLine: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
nav > ul > li > a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav > ul > li > a:hover{
    color: black;
}
nav > ul > li::after{
    content: "";
    display: block;
    background: #FFDE59;
    width: 100%;
    margin-top: 3px;
    height: 5px;
    clip-path: var(--underLine);
    transition: clip-path .5s;
}
nav > ul > li:hover{
    cursor: pointer;
    --underLine: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.icons__container{
    width: 60%;
    height: 100%;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    align-items: center;
}
.icons__container > i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.8s ease;
}
.icons__container > i:hover{
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

.icons__container > i > span{
    position: absolute;
    background-color: #FFDE59;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 50%;
}

.icons__container > .avatar_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0;
    flex-direction: column;

}
.icons__container >  .avatar_container > p{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 10%;

}
.icons__container >  .avatar_container > a{
    position: relative;
    top: 8%;
}

.icons__container >  .avatar_container > a > i{
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.navbar-list{
    position: absolute;
    background-color: #fffefe;
    border: none;
    border-radius: 5px;
    top: 0%;
    right: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
    padding-top: 10%;
    backdrop-filter: blur(5px);

}

.navbar-list{
    display: none;
}
.navbar-list > li {
    position: relative;
    top: 30%;
    left: 5%;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    --underLine: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.navbar-list > li > a{
    font-size: 45px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 10px;
}
.navbar-list > li::after{
    content: "";
    display: block;
    background: #FCDE03;
    width: 100%;
    margin-top: 3px;
    height: 5px;
    clip-path: var(--underLine);
    transition: clip-path .5s;
}
.navbar-list > li:hover{
    cursor: pointer;
    --underLine: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.active {
    display: flex;
    transition: all 0.8s ease;
    animation: slide-in-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.menu-label > i{
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}
.menu-label > i:active{
    color: #FFDE59;
}
@media (max-width: 867px){
    .logo__container{
        width: 100%;
        justify-content: flex-start;
    }
    .menu-label > i{
        display: flex;
    }
    .nav{
        display: none;
    }
    .icons__container{
        gap: 50px;
    }
}
@media (max-width: 667px){
    .navbar-list{
        width: 80%;
    }
    .navbar-list > li > a{
        font-size: 30px;
    }
    .header{
        flex-wrap: wrap;
        position: relative;
    }
    .logo__container{
        justify-content: center;
    }
    .icons__container{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        justify-content: space-around;
        z-index: 30;
    }
}

@keyframes slide-in-left {
    0% {
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
              transform: translateX(0);
      opacity: 1;
    }
  }


/*CART*/
.cart{
    position: absolute;
    z-index: 50;
    background-color: #fafafa62;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    top: 30vh;
    left: 20vw;
    width:70vw;
    height: 90vh;
    display: none;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 5%;
    backdrop-filter: blur(10px);
    transition: all 0.8s ease-in-out;
}
.cart > img{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 25px;
    cursor: pointer;
}
.cart > h2{
    padding-left: 2%;
    font-size: 35px;
    font-weight: 800;
}
.cart > .cart_titles{
    align-self: center;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 15% 15% 50% 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.cart > .cart_titles > p{
    margin: 0;
    place-self: center start;
}
.cart > .cart_titles > p:nth-child(4){
    justify-self: center;
}
.product-cart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    gap: 10px;
    overflow-y: scroll;
}
.products-in-cart{
    background-color: #fafafa;
    display: flex;
    width: 90%;
    max-height: 90px ;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
}
.quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    gap: 5px;
}
.quantity-container > p{
    margin: 0;
    
}
.btn-arrows{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn-arrows > img {
    cursor: pointer;
    width: 20px;
}


.products-in-cart > div{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 80px;
    gap: 5px;
}
.products-in-cart > div >  p {
    padding-left: 8%;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.products-in-cart > div > img{
    justify-content: center;
    align-self: center;
    width: 60px;
    border-radius: 50%;
    height: 70%;
}
.products-in-cart > h2{
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 2%;
}
.products-in-cart > h3{
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.products-in-cart > h3 > span{
    font-size: 12px;
    color: #B5AFAF;
    font-weight: 600;
}

.cart > h3{
    align-self: flex-end;
    padding-right: 5%;
    font-size: 20px;
    font-weight: 700;
}
.empty-cart {
    width: 20%;
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #B5AFAF;
    font-size: 16px;
    font-weight: 600;
    cursor: none;
}
.btnChange{
    cursor: pointer;
    background-color: #FCDE03;
}
.btn-pay{
    width: 20%;
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #FCDE03;
    font-size: 16px;
    font-weight: 600;
}
@media (max-width: 868px){
    .cart{
        top: 20vh;
        left: 7vw;
        bottom: 0;
        width:90vw;
    }
    .products-in-cart{
        width: 100%;
        padding-left: 5%;
        gap: 10px;

    }

}
@media (max-width: 587px){
    .cart > .cart_titles{
        width: 98%;
        height: auto;
        padding-left: 1%;
        padding-right: 1%;
        grid-template-columns: 20% 15% 45% 20%;
    }
    .cart{
        height: 100vh;
    }
    .cart > .cart_titles > p{
        margin: 0;
        place-self: center start;
    }
    .cart > .cart_titles > p:nth-child(4){
        justify-self: flex-start;
        padding-left: 30%;
    }
    .cart > .cart_titles > p:nth-child(1){
        padding-left: 15%;
    }
    .cart > .cart_titles > p:nth-child(3){
        padding-left: 5%;
    }
    .cart > .cart_titles > p:nth-child(2){
        font-size: 15px;
    }
    .products-in-cart{
        width: 100%;
        height: 100%;
        padding-left: 5%;
        gap: 10px;

    }
    .products-in-cart > div{
        gap: 5px;
    }
    .products-in-cart > div > img{
        width: 40px;
        border-radius: 50%;
        height: 50%;
    }
    .products-in-cart > .quantity-container{
        gap: 0px;
        position: relative;
    }
    .quantity-container > p{
        position: absolute;
        left: 27%;
        z-index: 2;
        
    }
    .btn-arrows{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn-arrows > img {
        cursor: pointer;
        width: 25px;
        z-index: 3;;
    }
    .empty-cart {
        width: 70%;
        align-self: center;

    }
    .btn-pay{
        width: 70%;
        align-self: center;
    }
}
@media (max-width: 360px){
    .products-in-cart > h3{
        width: 40%;
        font-size: 15px;
    }
    .products-in-cart > .quantity-container{
        gap: 0px;
        position: relative;
    }
    .quantity-container > p{
        position: absolute;
        left: 27%;
        z-index: 2;
        
    }
    .btn-arrows{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn-arrows > img {
        cursor: pointer;
        width: 25px;
        z-index: 3;;
    }
}
.open-cart {
    display: flex;
    transition: all 0.8s ease;
}
.open-cart-cart {
    display: flex;
    transition: all 0.8s ease;
    animation: slide-in-right 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes slide-in-right {
    0% {
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
              transform: translateX(0);
      opacity: 1;
    }
  }

/*Checkout*/
#checkout-modal{
    width: 80vw;
    height: 90vh;
    background-color: #fafafa;
    position: absolute;
    z-index: 50;
    top: 20%;
    left: 10%;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.25);
    display: none;
    flex-direction: column;
    padding: 2%;
}
#checkout-modal > h2{
    padding-left: 2%;
    font-size: 35px;
    font-weight: 800;
}
.billing-data{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.billing-data > .checkout-form{
    width: 40%;
    height: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid rgb(161, 160, 160);
}
.billing-data > .checkout-form > h3{
    font-size: 18px;
    font-weight: 400;
}
.billing-data > .checkout-form > input{
    width: 90%;
    border: none;
    background-color: #fdf9dbfb;
    border-radius: 5px;
    font-size: 15px;
    color: #B5AFAF;
    /* text-transform: capitalize; */
}
.billing-data > .checkout-form > input:focus{
    outline: none;
}
.billing-data > .checkout-form > label{
    color: #5e5b5b;
    font-size: 15px;
}
.billing-data > .cart-order{
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2%;
}
.pay-method-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.pay-method-container > label{
    font-size: 15px;
    color: #5e5b5b;
}
.pay-method-container > select{
    width: 20%;
    text-align: center;
    border-color: #918c8c;
    border-radius: 5px;
    font-size: 15px;
}
.pay-method-container > select > option{
    font-size: 15px;
    color: #918c8c;
}
.pay-method-container > select:focus{
    outline: none;
}
.btn-container{
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.btn-container  > .btn-cancel{
    background-color: black;
    color: #fafafa;
}
.cart-order > div{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}
#checkout-modal > h4{
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    padding-right: 5%;
}
.cart-order > div > h4{
    font-size: 15px;
    font-weight: 300;
}

.checkout-open{
    display: flex;
}
/*HERO*/
.hero-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 10%;
    overflow: hidden;
}
.media ul{
    position: absolute;
    bottom: 250px;
    left: -80px;
    transform: rotate(-90deg);

}
.media ul li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 30px;
}

.text{
    position: absolute;
    top: 200px;
    left: 30px;
    transform: rotate(-90deg);

}
.text h1{
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -5px;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 600px;
    left: 5%;

}
.text h1 .hidetext{
    position: absolute;

}
.text h2{
    position: absolute;
    text-transform: uppercase;
    top: 70px;
    left: 200px;
    color: #FFDE59;
    z-index: 1;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 8px;
}
.text h5{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    top: 80px;
    left: 5%;
    position: relative;
    overflow: hidden;
    height: 50px;
    z-index: 1;
}
.text > h5:nth-child(4){
    position: relative;
    left: 250px;
}

.text h5 .hidetext{
    position: absolute;
}
.distortion{
    display: block;
    width: 960px;
    height: 1080px;
    position: absolute;
    left: 40%;
    top: -10px;
}
.distortion  canvas{
    display: block;
    width: 960px;
}
.distortionMobile{
    display: none;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
}
.first{
    background: #FFDE59;
}
.second{
    background: #FFDE59;
    left: 33.3%
}
.third{
    background: #FFDE59;
    left: 66.6%;
}

@media (max-width: 867px){
    .hero-wrapper {
        height: 190vh;
    }
    .media ul{
        left: -35%;
        bottom: 40%;
    }
    .media ul li {
        font-size: 30px;
    }
    .text{
        top: 30%;
        left: -5%;
    }
    .text h1{
        font-size: 130px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: -5px;
        position: relative;
        overflow: hidden;
        height: 150px;
        width: 600px;
        left: -40%;
    
    }
    .text h1 .hidetext{
        position: absolute;
    
    }
    .text h2{
        position: absolute;
        text-transform: uppercase;
        top: 70px;
        left: 200px;
        color: #FFDE59;
        z-index: 1;
        font-size: 110px;
        font-weight: 900;
        letter-spacing: 8px;
    }
    .text h5{
        font-size: 40px;
    }
    .text > h5:nth-child(4){
        position: relative;
        left: 60%;
    }
    .distortion{
        display: block;
        width: 960px;
        height: 1080px;
        position: absolute;
        left: 22%;
        top: 30%;
        z-index: -1;
        max-width: 690px;
    }
    .distortion canvas{
        max-width: 690px;
        max-height: 810px;
    }
}
@media (max-width: 667px){
    .hero-wrapper {
        height: 150vh;
    }
    .media ul{
        bottom: 60%;
        left: -50%;
    }
    .media ul li {
        font-size: 16px;
    }
    .text{
        top: 18%;
        left: -60%;
    }
    .text h1 {
        font-size: 100px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: -5px;
        position: relative;
        overflow: hidden;
        height: 150px;
        width: 600px;
        left: 5%;
        top: 120px;
    }
    .text h2 {
        position: absolute;
        text-transform: uppercase;
        top: 162px;
        left: 200px;
        color: #FFDE59;
        z-index: 1;
        font-size: 110px;
        font-weight: 900;
        letter-spacing: 8px;
    }
    .distortion{
        display: none;
    }
    .distortionMobile{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 25%;
        top: 15%;
        z-index: -1;
        overflow: hidden;
        max-width: 370px;
    }
    .distortionMobile > img{
        width: 100%;
        max-width: 370px;
    }

    .text h5{
        font-size: clamp(30px, 5vw, 40px);
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        top: 125px;
        left: 40%;
        position: relative;
        overflow: hidden;
        height: 50px;
        z-index: 1;
    }
    .text > h5:nth-child(4){
        position: relative;
        left: 60%;
    }
}


/*LATEST AND CARDS PRODUCTS*/
.latest_products_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.latest_products_container > h2{
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 800;
    width: 100%;
}
.latest_products_container > h2::after{
    content: "products";
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 800;
    color: #FFDE59;
    position: relative;
    top: 50px;
    left: -150px;
    z-index: -1;
}

.cards-latest-products{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 5%;
}


.card-product{
    width: 100%;
    max-width: 250px;
    height: 100%;
    min-height: 390px;
    max-height: 390px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    flex: 1 1 250px;
    border-radius: 5px;
    gap: 5px;
    position: relative;
    background-color: #fafafa;
    
}
.card-product::after{
    content: "";
    width: 100%;
    max-width: 250px;
    height: 100%;
    min-height: 390px;
    max-height: 390px;
    border-radius: 5px;
    position: absolute;
    top: -7px;
    left: 7px;
    z-index: -1;
    background-color: #FFDE59;

}
.card-product::before{
    content: "";
    width: 100%;
    max-width: 250px;
    height: 100%;
    min-height: 390px;
    max-height: 390px;
    border-radius: 5px;
    position: absolute;
    top: -12px;
    left: 12px;
    z-index: -2;
    background-color: #5e5b5b28;

}
.card-product > div{
    overflow: hidden;
    position: relative;
}
.card-product > div > img{
    max-width: 250px;
    min-width: 250px;
    border-radius: 5px;
    cursor: pointer;
}
.quickview{
    position: absolute;
    z-index: 5;
    width: 40%;
    height: 100%;
    transition: all 0.8s ease;
    top: 0;
    left: -50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.quickview > i{
    position: relative;
    color: black;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 6;
    left: 10%;
    
}
.quickview > i::after{
    content: "View";
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: black;
    bottom: 0;
    left: 0;
}
.image_product_container:hover > .quickview {
    transform: translateX(100%);
}
.card-product > div > img:hover{
    animation: kenburns-top 5s ease-out infinite both;

}
@keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
.card-product > h3{
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    min-height: 40px;
}
.card-product > p{
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    color: #FFDE59
}
.card-product > h2{
    font-size: 30px;
    font-weight: 900;
}
.card-product > button{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background-color: #FFDE59;
    padding: 2% 5%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
    cursor: pointer;
}
.card-product > button:hover{
    transform: translateY(-5px);
}
@media(max-width: 867px){
    .cards-latest-products{
        width: 90%;
    }
    .latest_products_container > h2{
        padding-left: 5%;
    }
}
@media(max-width: 667px){
    .cards-latest-products{
        width: 100%;
    }
    .latest_products_container > h2{
        font-size: clamp(50px, 5vw, 90px);
    }
    .latest_products_container > h2::after{
        font-size: clamp(50px, 5vw, 90px);
        top: 30px;
        left: -80px;
    }
    .card-product::after{
        max-width: 330px;
    }
    .card-product::before{
        max-width: 330px;
    }
}


/*COLLECTIONS SECTION*/
.colecctions__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 10%;
    margin-bottom: 10%;

}
.colecctions__container > h2{
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 800;
    width: 100%;
}
.colecctions__container > h2 > div{
    width: 180px;
    height: 15px;
    font-size: 25px;
    background-color: #FFDE59;
    margin-left: 10px;
}
#front-btn{
    width: 50%;
    position: relative;
    left: -25%;
}
#collection-title1{
    text-transform: uppercase;
    font-size: 150px;
    position: absolute;
    letter-spacing: -18px;
    top: 40%;
    z-index: -1;
    left: 28%;
    transform: rotate(90deg);
}
.collection-title-1-mobile{
display: none;
}
#collection-title1 > span{
    color: #FFDE59;
    position: relative;
    top: 20%;
    z-index: -1;
    left: -4%;
}
#collection-title2{
    text-transform: uppercase;
    font-size: 150px;
    position: absolute;
    letter-spacing: -18px;
    top: 70%;
    z-index: -10;
    left: 23%;
    transform: rotate(-90deg);
}
.collection-title-2-mobile{
    display: none;
}
#collection-title2 > span{
    color: #FFDE59;
    position: relative;
    top: 20%;
    z-index: -1;
    left: -4%;
}
#back-category-btn{
    position: relative;
    left: 51%;
    width: 100%;
}
.front-wrapper{
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}
.back-wrapper{
    width: 50vw;
    height: 50vh;
    position: relative;
    top: 20%;
    overflow: hidden;

}

.collections_cards_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    border-radius: 10px;
}
.collections_cards_container > a {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.collections_cards_container > a > img{
    max-width: 70%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.8s ease;
}


.collections_cards_container > a > span{
    position: relative;
    top: 40%;
    left: 0;
    z-index: 2;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -5px;
    transform: rotate(-90deg);
}
.front-wrapper-mobile{
    display: none;
}
.back-wrapper-mobile{
    display: none;
}
@media(max-width: 867px){
    .colecctions__container{
        overflow: hidden;
    }
    .colecctions__container > h2{
        font-size: clamp(60px, 5vw, 90px);
        padding-left: 5%;
    }
    #front-btn{
        width: 100%;
        height: 100%;

    }
    #collection-title1{
        display: none;
    }

    #collection-title2{
        display: none;
    }
    .collection-title-1-mobile{
        display: block;
        text-transform: uppercase;
        font-size: 90px;
        position: absolute;
        letter-spacing: -12px;
        top: 20%;
        z-index: -1;
        left: 55%;
        transform: rotate(90deg);
    }
    .collection-title-1-mobile > span{
        color: #FFDE59;
    }
    .collection-title-2-mobile > span{
        color: #FFDE59;
    }

    .collection-title-2-mobile{
        display: block;
        text-transform: uppercase;
        font-size: 90px;
        position: absolute;
        letter-spacing: -12px;
        top: 70%;
        z-index: -10;
        left: 0%;
        transform: rotate(-90deg);
    }

    #back-category-btn{
        position: unset;
        width: 100%;
        height: 100%;
        right: 0;
        overflow: hidden;

    }
    .front-wrapper-mobile{
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .front-wrapper-mobile > img{
        width: 100%;
        position: relative;
        left: 30%;   
        max-width: 350px;
    }
    .back-wrapper-mobile{
        display: block;
        width: 100%;
        height: 100%;
        left: 0%;
        overflow: hidden;
    }
    .back-wrapper-mobile > img{
        width: 100%;
        position: relative;
        right: 0%;   
        overflow: hidden;
        left: 30%;
        max-width: 350px;
    }
    .front-wrapper{
        display: none;

    }
    .back-wrapper{
        display: none;
    }
}
@media(max-width: 667px){
    .colecctions__container{
        overflow: hidden;
    }
    .colecctions__container > h2{
        font-size: clamp(50px, 5vw, 90px);
    }
    #front-btn{
        width: 100%;
        height: 100%;

    }
    #collection-title1{
        display: none;
    }

    #collection-title2{
        display: none;
    }
    .collection-title-1-mobile{
        display: block;
        text-transform: uppercase;
        font-size: 70px;
        position: absolute;
        letter-spacing: -12px;
        top: 40%;
        z-index: -1;
        left: 55%;
        transform: rotate(90deg);
    }
    .collection-title-1-mobile > span{
        color: #FFDE59;
    }
    .collection-title-2-mobile > span{
        color: #FFDE59;
    }

    .collection-title-2-mobile{
        display: block;
        text-transform: uppercase;
        font-size: 70px;
        position: absolute;
        letter-spacing: -12px;
        top: 70%;
        z-index: -10;
        left: -5%;
        transform: rotate(-90deg);
    }

    #back-category-btn{
        position: unset;
        width: 100%;
        height: 100%;
        right: 0;
        overflow: hidden;

    }
    .front-wrapper-mobile{
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .front-wrapper-mobile > img{
        width: 100%;
        position: relative;
        left: 20%;   
    }
    .back-wrapper-mobile{
        display: block;
        width: 100%;
        height: 100%;
        left: 0%;
        overflow: hidden;
    }
    .back-wrapper-mobile > img{
        width: 100%;
        position: relative;
        right: 0%;   
        overflow: hidden;
    }
    .front-wrapper{
        display: none;

    }
    .back-wrapper{
        display: none;
    }
}
/*CONTACT SECTION*/
.contact__container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    place-content: center;
    place-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.form__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1 / 2;
}
.form__container > h2{
    font-size: 110px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 800;
    width: 100%;
    position: absolute;
    transform: rotate(-90deg);
    top: -30%;
    left: -40%;
}
.form__container > h2 > span{
    color: #ffde5985;
    font-size: 300px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 800;
    position: absolute;
    transform: rotate(90deg);
    left: 0%;
    top: 220%;



}
.form__container > p{
    width: 70%;
    font-size: 25px;
    font-weight: 400;
    align-self: flex-start;
}
.form__container > form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    gap: 5px;
    position: relative;
}
.form__container > form > label{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.33);
    font-weight: 400;
}
.form__container > form > input{
    border: none;
    background: #D9D9D9;
    width: 60%;
    height: 44px;
    border-radius: 5px;
}
.form__container > form > textarea{
    background: #D9D9D9;
    border: none;
    border-radius: 5px;
    min-width: 60%;
    max-width: 60%;
    height: 120px;
    min-height: 120px;
    max-height: 250px;
}
.form__container > form > input:focus{
    outline: none;
}
.form__container > form > textarea:focus{
    outline: none;
}
.form__container > form > button{
    align-self: flex-end;
    position: relative;
    right: 40%;
    border: none;
    background: #FFDE59;
    font-size: 20px;
    font-weight: 500;
    padding: 1% 8%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.8s ease;
}
.form__container > form > button:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.map__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    position: relative;
    grid-column: 2 / 3;
}

.map__container > .map > iframe{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    align-self: flex-start;
    position: relative;
    left: 20%
}
.map__container > h2{
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    align-self: flex-start;
    position: relative;
    left: 15%;
}
.map__container > h2 > div{
    width: 45px;
    height: 5px;
    font-size: 25px;
    background-color: #FFDE59;
}
.map__container > p{
    font-size: 18px;
    font-weight: 400;
    align-self: flex-start;
    position: relative;
    left: 15%;
}
@media(max-width: 867px){
    .contact__container{
        overflow: hidden;
        grid-template-columns: 100%;
    }
    .form__container{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
    }
    .form__container > h2{
        font-size: clamp(90px, 7vw, 110px);
        text-transform: uppercase;
        letter-spacing: -5px;
        font-weight: 800;
        width: 100%;
        position: absolute;
        transform: rotate(-90deg);
        top: 5%;
        left: -42%;
    }
    .form__container > h2 > span{
        color: #ffde5985;
        font-size: clamp(200px, 80vw, 350px);
        text-transform: uppercase;
        letter-spacing: -5px;
        font-weight: 800;
        position: absolute;
        transform: rotate(90deg);
        left: 10%;
        top: 150%;
        z-index: -1;
    }
    .form__container > p{
        align-self: center;
        width: 100%;
    }
    .form__container > form > label{
        align-self: flex-start;
    }
    .form__container > form > input{
        align-self: flex-start;
        width: 100%;
    }
    .form__container > form > textarea{
        min-width: 100%;
    }
    .form__container > form > button{
        right: 0;
    }
    .map__container{
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }
    .map__container > .map{
        width: 100%;
    }
    .map__container > .map > iframe{
        width: 100%;
        align-self: center;
        left: 0;
    }
    .map__container > h2{
        align-self: center;
        left: 0;
    }
    .map__container > p{
        align-self: center;
        left: 0;
    }
}
@media(max-width: 667px){
    .contact__container{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        overflow: hidden;
    }
    .form__container{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .form__container > h2{
        font-size: clamp(50px, 6vw, 110px);
        letter-spacing: -5px;
        top: 5%;
        left: -42%;
    }
    .form__container > h2 > span{
        color: #ffde5985;
        font-size: clamp(160px, 50vw, 350px);
        text-transform: uppercase;
        letter-spacing: -5px;
        font-weight: 800;
        position: absolute;
        transform: rotate(90deg);
        left: 0%;
        top: 130%;
        z-index: -1;
    }
    .form__container > p{
        align-self: center;
        width: 100%;
    }
    .form__container > form > label{
        align-self: flex-start;
    }
    .form__container > form > input{
        align-self: flex-start;
        width: 100%;
    }
    .form__container > form > textarea{
        min-width: 100%;
    }
    .form__container > form > button{
        right: 0;
    }
    .map__container{
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }
    .map__container > .map{
        width: 100%;
    }
    .map__container > .map > iframe{
        width: 100%;
        align-self: center;
        left: 0;
    }
    .map__container > h2{
        align-self: center;
        left: 0;
    }
    .map__container > p{
        align-self: center;
        left: 0;
    }
}


/*FOOTER SECTION*/
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}

footer > .foot_copy{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
footer > .foot_copy > p{
    color: #D9D9D9;
    font-weight: 300;
    text-align: center;
}
footer > .foot_copy > p > a > i{
    color: #FFDE59;
    transition: all 0.5s ease;
    cursor: pointer;
}
footer > .foot_copy > p > a > i:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 65px 12px rgba(228,240,90,0.25);
}
.logo_icons_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.logo_icons_container > h2{
    font-weight: 900;
    font-size: 25px;
    color: #D9D9D9;
}
.logo_icons_container > h2 > span{
    color: #FFDE59;
}

.logo_icons_container > .icons{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo_icons_container > .icons > i{
    color: #FFDE59;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.logo_icons_container > .icons > i:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 65px 12px rgba(228,240,96,0.25);
}
@media (max-width: 667px){
    footer{
        height: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }
    footer > .foot_copy{
        width: 100%;
        order: 2;
        align-items: center;
    }
    footer > .logo_icons_container{
        width: 100%;
        order: 1;
        align-items: center;
    }
}
/*ARROW HOME*/
.arrow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    position: sticky;
    bottom: 2%;
    padding-bottom: 2%;
}
.arrow > a > i{
    font-size: 30px;
    color: #FFDE59;
    cursor: pointer;
}

.add-message {
    padding: 2% 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #fcdf039a;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    text-align: center;
    transform: translateY(200%);
  }
  
  .active-message {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }