* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

root{
    --yellow: #FCDE03;
}
html{
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 2%;
    padding-right: 2%;
}
.logo__container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__container > h1{
    font-weight: 900;
    font-size: 30px;
}
.logo__container > h1 > span{
    color: #FCDE03;
}

nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    padding: 4%;
}

nav > ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

@media (max-width: 867px){
    nav > ul{
        display: none;
    }
}
nav > ul > li{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    --underLine: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
nav > ul > li > a{
    color: black;
    text-decoration: none;
}
nav > ul > li > a:hover{
    color: black;
}
nav > ul > li::after{
    content: "";
    display: block;
    background: #FCDE03;
    width: 100%;
    margin-top: 3px;
    height: 5px;
    clip-path: var(--underLine);
    transition: clip-path .5s;
}
nav > ul > li:hover{
    cursor: pointer;
    --underLine: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.icons__container{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}
.icons__container > i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    transition: all 0.8s ease;
}
.icons__container > i:hover{
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

.icons__container > i > span{
    position: absolute;
    background-color: #FCDE03;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 50%;
}

.icons__container > .avatar_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icons__container > .avatar_container::after{
    content: "My Account";
    width: 55px;
    height: 15px;
    border-radius: 5px;
    font-size: 10px;
    position: absolute;
    bottom: 8%;
    font-weight: 600;
}

.icons__container > .avatar_container > img{
    height: 80%;
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navbar-list{
    position: absolute;
    background-color: #1818189c;
    border: none;
    border-radius: 5px;
    top: 0%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
    padding-top: 10%;
    backdrop-filter: blur(5px);
    --menu: circle(0.0% at 50% 50%);

}

.navbar-list{
    display: none;
}
.navbar-list > li {
    position: relative;
    top: 30%;
    left: 0%;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    --underLine: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.navbar-list > li > a{
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 10px;
}
.navbar-list > li::after{
    content: "";
    display: block;
    background: #FCDE03;
    width: 100%;
    margin-top: 3px;
    height: 5px;
    clip-path: var(--underLine);
    transition: clip-path .5s;
}
.navbar-list > li:hover{
    cursor: pointer;
    --underLine: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.active {
    display: flex;
    transition: all 0.8s ease;
}

.menu-label > i{
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}
.menu-label > i:active{
    color: #FCDE03;
}
@media (max-width: 867px){
    .logo__container{
        width: 100%;
        justify-content: flex-start;
    }
    .menu-label > i{
        display: flex;
    }
}
@media (max-width: 667px){
    .header{
        flex-wrap: wrap;
        position: relative;
    }
    .logo__container{
        justify-content: center;
    }
    .nav{
        display: none;
    }
    nav{
        display: none;
    }
    .icons__container{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        justify-content: space-around;
        z-index: 30;
    }
}
/*CART*/
.cart{
    position: absolute;
    z-index: 50;
    background-color: #fafafa62;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    top: 30vh;
    left: 30vh;
    width:70vw;
    height: 90vh;
    display: none;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 5%;
    backdrop-filter: blur(10px);
}
.cart > img{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 25px;
    cursor: pointer;
}
.cart > h2{
    padding-left: 2%;
    font-size: 35px;
    font-weight: 800;
}
.cart > .cart_titles{
    align-self: center;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 15% 15% 50% 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.cart > .cart_titles > p{
    margin: 0;
    place-self: center start;
}
.cart > .cart_titles > p:nth-child(4){
    justify-self: center;
}
.product-cart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    gap: 10px;
    overflow-y: scroll;
}
.products-in-cart{
    background-color: #fafafa;
    display: flex;
    width: 90%;
    max-height: 90px ;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
}
.quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    gap: 5px;
}
.quantity-container > p{
    margin: 0;
    
}
.btn-arrows{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn-arrows > img {
    cursor: pointer;
}

.products-in-cart > div{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 80px;
    gap: 5px;
}
.products-in-cart > div >  p {
    padding-left: 8%;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.products-in-cart > div > img{
    justify-content: center;
    align-self: center;
    width: 60px;
    border-radius: 50%;
    height: 70%;
}
.products-in-cart > h2{
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 2%;
}
.products-in-cart > h3{
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.products-in-cart > h3 > span{
    font-size: 12px;
    color: #B5AFAF;
    font-weight: 600;
}

.cart > h3{
    align-self: flex-end;
    padding-right: 5%;
    font-size: 20px;
    font-weight: 700;
}
.empty-cart {
    width: 20%;
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #B5AFAF;
    font-size: 16px;
    font-weight: 600;
    cursor: none;
}
.btnChange{
    cursor: pointer;
    background-color: #FCDE03;
}
.btn-pay{
    width: 20%;
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #FCDE03;
    font-size: 16px;
    font-weight: 600;
}
@media (max-width: 868px){
    .cart{
        top: 20vh;
        left: 5vw;
        bottom: 0;
        width:90vw;
    }
    .products-in-cart{
        width: 100%;
        padding-left: 5%;
        gap: 10px;

    }

}
@media (max-width: 587px){
    .cart > .cart_titles{
        width: 98%;
        height: auto;
        padding-left: 1%;
        padding-right: 1%;
        grid-template-columns: 20% 15% 45% 20%;
    }
    .cart{
        height: 100vh;
    }
    .cart > .cart_titles > p{
        margin: 0;
        place-self: center start;
    }
    .cart > .cart_titles > p:nth-child(4){
        justify-self: flex-start;
        padding-left: 30%;
    }
    .cart > .cart_titles > p:nth-child(1){
        padding-left: 15%;
    }
    .cart > .cart_titles > p:nth-child(3){
        padding-left: 5%;
    }
    .cart > .cart_titles > p:nth-child(2){
        font-size: 15px;
    }
    .products-in-cart{
        width: 100%;
        height: 100%;
        padding-left: 5%;
        gap: 10px;

    }
    .products-in-cart > div{
        gap: 5px;
    }
    .products-in-cart > div > img{
        width: 40px;
        border-radius: 50%;
        height: 50%;
    }
    .products-in-cart > .quantity-container{
        gap: 0px;
        position: relative;
    }
    .quantity-container > p{
        position: absolute;
        left: 27%;
        z-index: 2;
        
    }
    .btn-arrows{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn-arrows > img {
        cursor: pointer;
        width: 25px;
        z-index: 3;;
    }
    .empty-cart {
        width: 70%;
        align-self: center;

    }
    .btn-pay{
        width: 70%;
        align-self: center;
    }
}
@media (max-width: 360px){
    .products-in-cart > h3{
        width: 40%;
        font-size: 15px;
    }
    .products-in-cart > .quantity-container{
        gap: 0px;
        position: relative;
    }
    .quantity-container > p{
        position: absolute;
        left: 27%;
        z-index: 2;
        
    }
    .btn-arrows{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn-arrows > img {
        cursor: pointer;
        width: 25px;
        z-index: 3;;
    }
}
.open-cart {
    display: flex;
    transition: all 0.8s ease;
}



/*HERO*/
.carousel{
    height: 100vh;
}
.carousel-inner{
    top: 10%;
}
.carousel-mobile{
    display: none;
}
@media (max-width: 667px) {
    .carousel-desktop{
        display: none;
    }
    .carousel-mobile{
        display: block;
    }
    .carousel{
        margin-bottom: 10%;
        margin-top: 5%;
        height: 100%;
    }
    .carousel-inner{
        top: 0;
        width: 100%;
        overflow: hidden;
    }

    
}


/*LATEST AND CARDS PRODUCTS*/
.latest_products_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.latest_products_container > h2{
    font-size: 35px;
    font-weight: 800;
}
.latest_products_container > h2 > div{
    width: 55px;
    height: 5px;
    font-size: 25px;
    background-color: #FCDE03;
}
.cards-latest-products{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-product{
    width: 100%;
    max-width: 250px;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    flex: 1 1 250px;
    border-radius: 5px;
    
}
.card-product > div{
    overflow: hidden;
    position: relative;
}
.card-product > div > img{
    max-width: 250px;
    border-radius: 5px;
}
.quickview{
    position: absolute;
    z-index: 5;
    width: 40%;
    height: 100%;
    transition: all 0.8s ease;
    top: 0;
    left: -50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.quickview > i{
    position: relative;
    color: black;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 6;
    left: 10%;
    
}
.quickview > i::after{
    content: "View";
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: black;
    bottom: 0;
    left: 0;
}
.image_product_container:hover > .quickview {
    transform: translateX(100%);
}
.card-product > div > img:hover{
    animation: kenburns-top 5s ease-out infinite both;

}
@keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
.card-product > h3{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}
.card-product > p{
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    color: var(--yellow);
}
.card-product > h2{
    font-size: 30px;
    font-weight: bold;
}
.card-product > button{
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #FCDE03;
    padding: 2% 5%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
}
.card-product > button:hover{
    transform: translateY(-5px);
}
@media(max-width: 667px){
    .cards-latest-products{
        width: 100%;
    }
}
@media(max-width: 525px){
    .cards-latest-products{
        width: 100%;
    }
    .card-product{
        width: 100%;
        max-width: 330px;
        height: 100%;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
        flex: 1 1 330px;
        border-radius: 5px;
        
    }
}

/*COLLECTIONS SECTION*/
.colecctions__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-top: 10%;
}
.colecctions__container > h2{
    font-size: 35px;
    font-weight: 800;
}
.colecctions__container > h2 > div{
    width: 55px;
    height: 5px;
    font-size: 25px;
    background-color: #FCDE03;
}

.collections_cards_container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
.collections_cards_container > a {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collections_cards_container > a > img{
    max-width: 70%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.8s ease;
}
.collections_cards_container > a > img:hover{
    transform: translateY(-5px);
}

.collections_cards_container > a > span{
    position: absolute;
    bottom: 0;
    left: 35%;
    z-index: 2;
    text-decoration: none;
    color: #FCDE03;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
}
@media(max-width: 867px){
    .collections__container{
        width: 100%;
        gap: unset;
    }
    .collections_cards_container{
        width: 100%;
        gap: 30px;
        flex-wrap: wrap;
    }
    .collections_cards_container > a {
        flex: 1 1 550px;
    }
    .collections_cards_container > a > span{
        left: unset;
    }
}
/*CONTACT SECTION*/
.contact__container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    place-content: center;
    place-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}
.form__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1 / 2;
}
.form__container > h2{
    font-size: 45px;
    font-weight: 800;
    align-self: flex-start;
}
.form__container > p{
    width: 70%;
    font-size: 25px;
    font-weight: 400;
    align-self: flex-start;
}
.form__container > form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    gap: 5px;
    position: relative;
}
.form__container > form > label{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.33);
    font-weight: 400;
}
.form__container > form > input{
    border: none;
    background: #D9D9D9;
    width: 60%;
    height: 44px;
    border-radius: 5px;
}
.form__container > form > textarea{
    background: #D9D9D9;
    border: none;
    border-radius: 5px;
    min-width: 60%;
    max-width: 60%;
    height: 120px;
    min-height: 120px;
    max-height: 250px;
}
.form__container > form > input:focus{
    outline: none;
}
.form__container > form > textarea:focus{
    outline: none;
}
.form__container > form > button{
    align-self: flex-end;
    position: relative;
    right: 40%;
    border: none;
    background: #FCDE03;
    font-size: 20px;
    font-weight: 500;
    padding: 1% 8%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition: all 0.8s ease;
}
.form__container > form > button:hover{
    transform: translateY(-5px);
}
.map__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    position: relative;
    grid-column: 2 / 3;
}

.map__container > .map > iframe{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    align-self: flex-start;
    position: relative;
    left: 20%
}
.map__container > h2{
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    align-self: flex-start;
    position: relative;
    left: 15%;
}
.map__container > h2 > div{
    width: 45px;
    height: 5px;
    font-size: 25px;
    background-color: #FCDE03;
}
.map__container > p{
    font-size: 18px;
    font-weight: 400;
    align-self: flex-start;
    position: relative;
    left: 15%;
}
@media(max-width: 867px){
    .contact__container{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
    }
    .form__container{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .form__container > h2{
        align-self: center;
    }
    .form__container > p{
        align-self: center;
        width: 100%;
    }
    .form__container > form > label{
        align-self: flex-start;
    }
    .form__container > form > input{
        align-self: flex-start;
        width: 100%;
    }
    .form__container > form > textarea{
        min-width: 100%;
    }
    .form__container > form > button{
        right: 0;
    }
    .map__container{
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }
    .map__container > .map{
        width: 100%;
    }
    .map__container > .map > iframe{
        width: 100%;
        align-self: center;
        left: 0;
    }
    .map__container > h2{
        align-self: center;
        left: 0;
    }
    .map__container > p{
        align-self: center;
        left: 0;
    }
}


/*FOOTER SECTION*/
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}

footer > .foot_copy{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
footer > .foot_copy > p{
    color: #D9D9D9;
    font-weight: 300;
    text-align: center;
}
footer > .foot_copy > p > a > i{
    color: #FCDE03;
    transition: all 0.5s ease;
    cursor: pointer;
}
footer > .foot_copy > p > a > i:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 65px 12px rgba(228,240,90,0.25);
}
.logo_icons_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.logo_icons_container > h2{
    font-weight: 900;
    font-size: 25px;
    color: #D9D9D9;
}
.logo_icons_container > h2 > span{
    color: #FCDE03;
}

.logo_icons_container > .icons{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo_icons_container > .icons > i{
    color: #FCDE03;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.logo_icons_container > .icons > i:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 65px 12px rgba(228,240,96,0.25);
}
@media (max-width: 667px){
    footer{
        height: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }
    footer > .foot_copy{
        width: 100%;
        order: 2;
        align-items: center;
    }
    footer > .logo_icons_container{
        width: 100%;
        order: 1;
        align-items: center;
    }
}
/*ARROW HOME*/
.arrow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    position: sticky;
    bottom: 10%;
}
.arrow > a > i{
    font-size: 30px;
    color: #FCDE03;
    cursor: pointer;
    filter: drop-shadow(0px 3px 6px #A09F9F);
}

.add-message {
    padding: 2% 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #fcdf039a;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    text-align: center;
    transform: translateY(200%);
  }
  
  .active-message {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }